{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>

    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'registrar' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}