<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configura tus etiquetas de encabezado, enlaces a estilos, etc. -->
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>
