<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>Radiofuente events</title>
	<link rel="stylesheet"
		href="../../static/css/login_4.css">
</head>

<body>
	<header>
		<h1 class="heading">Radiofuente Events</h1>
	</header>

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>
		<div class="btn">
			<button class="login" id="loginButton">Registrarse</button>
		</div>

		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">

			<!-- signup form -->
			<div class="signup-box">
				<form method="post" id="miFormulario">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Registrar</button>
					<br>
					<br>
					<a href="{% url 'login' %}">¿Ya estás Registrado? </a>
				</form>
			</div>
		</div>
	</div>
	<script src="../../static/js/login_4.js"></script>
    <script>
        $(document).ready(function() {
            $("#miFormulario").on("submit", function(event) {
                event.preventDefault(); // Previene el envío del formulario

                alert("Formulario enviado con éxito");

            });
        });
    </script>
</body>
</html>
