<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,
						initial-scale=1.0">
	<title>Radiofuente events</title>
	<link rel="stylesheet"
	 href="{% static 'css/login_4.css' %}">
</head>

<body>
	<header>
		<h1 class="heading">Radiofuente Events</h1>
	</header>

	<!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>
		<div class="btn">
			<button class="login" id="loginButton">Login</button>
		</div>

		<!-- Form section that contains the
			login and the signup form -->
		<div class="form-section">

			<!-- login form -->
			<div class="login-box">
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <br>

                    <button type="submit">Iniciar Sesión</button>

                    <br>
                    <br>

                    <a href="{% url 'registrar' %}">¿No tienes una cuenta? </a>
                </form>
			</div>

		</div>
	</div>
	<script src="{% static 'js/login_4.js' %}"></script>
</body>
</html>
